

 <div class="container">

    <div class="text-center bg-danger">
        <h1>{{ this.project }}       Architectural Decision Record </h1>
    </div>

    <form class="form-horizontal" action="/user/adr" method="get">

             <div class="form-group form-inline mt-5"> 
                <label class="col-md-4 control-label" for="application">Application Name   : </label>
                <div class="col-md-4">
                    <p class="card-text form-control mr-sm-5" placeholder="" ><strong>{{this.application}}</strong></p>
                </div>
            </div>

    
            <div class="form-group form-inline">
                <label class="col-md-4 control-label" for="project">Project   :</label>
                <div class="col-md-4">
                <p class="card-text form-control mr-sm-5"><strong>{{this.project}}</strong></p>
                </div>
            </div>

    
            <div class="form-group form-inline">
                <label class="col-md-4 control-label" for="databaseused">Database Used   :</label>
                <div class="col-md-4">
                    <p class="card-text form-control mr-sm-5"><strong>{{this.databaseused}}</strong></p>
                </div>
            </div>

    
            <div class="form-group form-inline">
                <label class="col-md-4 control-label" for="databasepreferred">Database Preferred   :</label>
                <div class="col-md-4">
                <p class="card-text form-control mr-sm-5"><strong>{{this.databasepreferred}}</strong></p>
                </div>
            </div>
 
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">

    
             <div class="text-center" >
                <div class="col-md-4"> 
                    <button  type="submit" class="btn bg-success">Back</button>  
                 </div>
            </div> 
    
</div> 


